html, body, div, span,
abbr, acronym, address,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
figure, figcaption, footer,
menu, nav, output, ruby, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0
}

html {
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    background: #cfe0ff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 300px;
    margin: auto;
    font-size: 1.5rem;
}

main {
    padding: 25px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

/**
 * Give all siblings of direct children a margin-top
 */
main > * + * {
    margin-top: 25px;
}

a {
    color: #6060d4;
}

input, button {
    width: 100%;
}

button {
    padding: 10px;
    border: 0;
    box-shadow: 0 5px #6060d4;
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 2px #6060d4;
    transform: translateY(3px);
}

.label {
    background: #6f8fe8;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    display:inline-block;
    font-size: 1.5rem;
}

.label:hover {
    background: #6180d8;
}

.button {
    padding: 10px;
}

.counter {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.counter,
.form-element {
    background: #ef4d4d;
}

label {
    margin-left: 5px;
}
