html, body, div, span,
dl, dt, dd, ol, ul, li, h1,
fieldset, form, label, footer,
menu, nav, output, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  background: #e8e8e8;
  color: #565656;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* { border-color: #565656; }

body {
  width: 325px;
  margin: auto;
  font-size: 1.5rem;
}

.box {
  position: relative;
  padding: 25px;
  border: 1px solid;
  margin-bottom: 5px;
  background: white;
}
.box + .box,
.box > * + * {
  margin-top: 25px;
}

a {
  font-size: small;
  text-decoration: none;
}

a + a {
  margin-left: 5px;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input, button {
  width: 100%;
}

button {
  padding: 10px;
  border: 1px solid;
  box-shadow: 0 5px #565656;
  background:white;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px;
}

.time-signature {
  background: #e8e8e8;
  display: inline-block;
}

.button {
  padding: 10px;
  margin-bottom: 10px;
}

.wrapper {
  white-space: nowrap;
}

.counter {
  background: #565656;
  color: white;
  padding: 15px;
}

.counter.replay {
  background: linear-gradient(#222, #888);
  padding: 16px;
  font-size: 14px;
  border: 1px solid #456;
  border-radius: 8px;
}

.hidden {
  display: none;
}

label {
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

select {
  border: 1px solid;
  background: white;
  padding: 8px;
}

.btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.btn-close:hover {
  cursor: pointer;
}

input[type=range] {
  margin: 25px 0 0 0;
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #e8e8e8;
  cursor: pointer;
  height: 10px;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: 0 5px #565656;
  cursor: pointer;
  height: 36px;
  margin-top: -14px;
  -webkit-appearance: none;
  width: 16px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #565656;
}

input[type=range]::-moz-range-track {
  background: #e8e8e8;
  cursor: pointer;
  height: 10px;
  width: 100%;
}

input[type=range]::-moz-range-thumb {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: 0 5px #565656;
  cursor: pointer;
  height: 36px;
  width: 16px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #e8e8e8;
}

input[type=range]::-ms-fill-upper {
  background: #e8e8e8;
}

input[type=range]::-ms-thumb {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: 0 5px #565656;
  cursor: pointer;
  height: 36px;
  width: 16px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #565656;
}

input[type=range]:focus::-ms-fill-upper {
  background: #565656;
}
